@media screen and (orientation: landscape) {
  .option {
    height: 100%!important;
    width: 50%!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

}

@media (min-width: 992px) {
  :root {
    --vs-size: 6rem!important;
  }

  .score-bar {
    top: unset!important;
    bottom: 0;
  }

  .vs {
    height: var(--vs-size);
    width: var(--vs-size);
  }

  .option {
    height: 100%!important;
  }
  
  .pages {
    width: unset!important;
  }

  .btn-game {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-border-radius: 0.5rem;
  }
}

.btn-game {
  width: calc(6rem + 3vw);
  --bs-btn-font-size: calc(0.70rem + 0.5vw);
}

:root {
  --vs-size: 4rem;
}

.score-bar {
  top: 0.8rem;
}

.vs {
  height: var(--vs-size);
  width: var(--vs-size);
}

.pages {
  user-select: none;
  bottom: 0.5rem;
  width: 100%;
}

.option {
  height: 50%;
}

/* Vue Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s ease;
}

@keyframes bounce-in {
  0% { transform: scale(0);}
  50% { transform: scale(1.25);}
  100% {transform: scale(1);}
}

[data-bs-theme="light"] .shape-game {
  filter: invert(1) opacity(0.8);
}

[data-bs-theme="light"] .btn-outline-light {
  --bs-btn-color: var(--dark);
  --bs-btn-border-color: var(--dark);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--dark);
  --bs-btn-hover-border-color: var(--dark);
  --bs-btn-focus-shadow-rgb: 33,37,41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--dark);
  --bs-btn-active-border-color: var(--dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--dark);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--dark);
  --bs-gradient: none;
}

.vs-container {
  background-color: var(--bs-heading-color);
  color: var(--bs-body-bg)!important;
}

.vs-container h1 {
  color: var(--bs-body-bg);
}

.text-game {
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.37;
}

[data-bs-theme="dark"] .text-game {
  color: var(--bs-primary-text);
}

.flag-game {
  width: calc(35px + 3vw);
}
