:root * {
  --bs-primary: var(--primary);
  --dark: #121518;
  --bs-primary-rgb: var(--primary-rgb);
  --bs-secondary-rgb: var(--bs-primary-text-rgb-emphasis);
  scrollbar-color: var(--bs-dark-text-emphasis) var(--bs-secondary-bg);
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary-bg);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-dark-text-emphasis);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-dark-text-emphasis);
}

::selection {
  background: #333a42!important;
  color: #fff!important;
}

body {
  font-family: "Nunito";
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#app {
  height: 100vh;
  position: relative;
}

#page {
  flex: 1 0 0;
}

.shape {
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 200px;
}

.flag, .shape, .shape-game, .flag-game {
  user-select: none;
  pointer-events: none;
}

@media (min-width: 992px) {
  /* lg */

  .mt-n4 {
    margin-top: -3rem !important;
  }
}

.breadcrumb-item a {
  text-decoration: none;
}

.pagination {
  --bs-pagination-active-bg: var(--primary);
  --bs-pagination-active-border-color: var(--primary);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--primary-focus);
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--primary-hover);
  --bs-btn-hover-border-color: var(--primary-hover);
  --bs-btn-focus-shadow-rgb: 81, 195, 147;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-disabled);
  --bs-btn-disabled-border-color: var(--primary-disabled);
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--primary) 0%, var(--primary-disabled) 50%,var(--primary-hover) 100%)!important;
}

.bg-danger {
  background-color: #ff4070!important;
}
