[data-bs-theme="dark"] {
  --bs-body-bg: #121518;
  --bs-body-bg-rgb: 23, 26, 30;
  --bs-dark-rgb: 18, 21, 25;
  --bs-secondary-bg-rgb: 23, 26, 30;
  --bs-tertiary-bg-rgb: 18, 21, 25;
  --primary: #2d9e64;
  --primary-rgb: 81, 195, 147;
  --primary-focus: rgb(45 158 100 / 25%);
  --primary-hover: #2b8858;
  --primary-disabled: #578b75;
  --bs-primary-text-emphasis: #ecb390;
  --bs-dark-text-emphasis: #fafafa;
  --bs-primary-text-rgb-emphasis: 236, 179, 144;
  --bs-link-color: #51c393;
  --bs-link-color-rgb: 81, 195, 147;
  --bs-link-hover-color: #72c5a2;
  --bs-link-hover-color-rgb: 114, 197, 162;
  --bs-heading-color: #fafafa;
}

[data-bs-theme="dark"] .shadow {
  box-shadow: 0 .5rem 1rem rgba(255, 255, 255,.15)!important;
}

[data-bs-theme="dark"] .shape {
  filter: invert(1);
}

[data-bs-theme="dark"] .dropdown-menu, [data-bs-theme="light"] .dropdown-menu {
  --bs-dropdown-link-active-bg: var(--primary);
}

[data-bs-theme="dark"] .form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.25rem rgb(114 197 162 / 25%);
}

[data-bs-theme="dark"] .text-game {
  color: var(--bs-primary-text-emphasis);
}
